In [10]:
import pandas as pd
import numpy as np

Import and clean Football Data

In [11]:
nfl_df = pd.read_csv('nfl_game_scores_1g.csv')
display(nfl_df)

,season,date,away.team,away.score,home.team,home.score,line,over_under
0,2014,2014-09-04,GB,16,SEA,36,-5.0,47.0
1,2014,2014-09-07,NO,34,ATL,37,3.0,51.5
2,2014,2014-09-07,MIN,6,STL,34,-3.0,43.5
3,2014,2014-09-07,CLE,27,PIT,30,-6.0,41.5
4,2014,2014-09-07,JAX,17,PHI,34,-10.0,50.0
...,...,...,...,...,...,...,...,...
529,2015,2016-01-17,SEA,24,CAR,31,-2.5,42.5
530,2015,2016-01-17,PIT,16,DEN,23,-7.5,41.0
531,2015,2016-01-24,NE,18,DEN,20,3.0,44.5
532,2015,2016-01-24,ARI,15,CAR,49,-3.0,47.0
533,2015,2016-02-07,CAR,10,DEN,24,5.0,43.5

In [12]:
ncaa_df = pd.read_csv('ncaaf_game_scores_1g.csv')
display(ncaa_df)

,season,date,away.team,away.score,home.team,home.score,line,over_under
0,2015,2015-09-03,FIU,15,UCF,14,-12.0,47.0
1,2015,2015-09-03,UNC,17,SC,13,-1.5,62.0
2,2015,2015-09-03,OKST,24,CMU,13,21.5,58.0
3,2015,2015-09-03,VMI,36,BALL,48,-34.5,64.5
4,2015,2015-09-03,ELON,3,WAKE,41,-27.0,40.5
...,...,...,...,...,...,...,...,...
778,2015,2016-01-02,PSU,17,UGA,24,-6.5,44.5
779,2015,2016-01-02,KSU,23,ARK,45,-13.0,56.0
780,2015,2016-01-02,ORE,41,TCU,47,6.5,74.0
781,2015,2016-01-02,WVU,43,ASU,42,1.5,62.5
782,2015,2016-01-11,ALA,45,CLEM,40,6.5,50.5

Checking unique values on year of each dataset

In [13]:
print(nfl_df['season'].unique())
print(ncaa_df['season'].unique())

[2014 2015]
[2015]

In [17]:
common_years = pd.Series(nfl_df['season'].unique())[pd.Series(nfl_df['season'].unique()).isin(pd.Series(ncaa_df['season'].unique()))]

To compare just 2015 ill delete 2014 from the NFL dataset

In [18]:
nfl_df_data_common = nfl_df[nfl_df['season'].isin(common_years)]
ncaa_df_data_common = ncaa_df[ncaa_df['season'].isin(common_years)]